# Start working with pandas

In [7]:
import pandas as pd

# Import a csv file into a pandas DataFrame

This is like opening it in Excel

In [8]:
# takes 1 mandatory argument -- file path to the csv file
spotify = pd.read_csv('../../datasets/spotify_top_tens.csv')

# Pandas DataFrames are a class

They have attributes and methods

In [6]:
print(type(spotify))

<class 'pandas.core.frame.DataFrame'>

# View the dataframe

In [9]:
spotify

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,Find U Again (feat. Camila Cabello),Mark Ronson,dance pop,2019,104,66,61,-7,20,16,176,1,3,75
599,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,2019,95,79,75,-6,7,61,206,21,12,75
600,"No Brainer (feat. Justin Bieber, Chance the Ra...",DJ Khaled,dance pop,2019,136,76,53,-5,9,65,260,7,34,70
601,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,dance pop,2019,114,79,60,-6,42,24,217,1,7,69
602,Kills You Slowly,The Chainsmokers,electropop,2019,150,44,70,-9,13,23,213,6,6,67

# Dataframes have the best attributes of lists & dictionaries

* Dataframes have labels
* Dataframes are ALSO ordered

# Seeing the first few / last few rows

In [18]:
spotify.head(2)

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82

In [36]:
spotify.tail(4)

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
599,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,2019,95,79,75,-6,7,61,206,21,12,75
600,2,DJ Khaled,dance pop,2019,136,76,53,-5,9,65,260,7,34,70
601,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,dance pop,2019,114,79,60,-6,42,24,217,1,7,69
602,Kills You Slowly,The Chainsmokers,electropop,2019,150,44,70,-9,13,23,213,6,6,67

# What is the shape of the dataframe

rows, columns

In [17]:
spotify.shape

(603, 14)

# Finding a specific cell

rows, columns

use the `iloc` to find specific cells

In [21]:
spotify.head(2)

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82

In [35]:
# assigning a string into a cell of the dataframe
spotify.iloc[600,0] = 2
spotify.iloc[600,0]

2

# NON DESTRUCTIVE

We are not editing the actual csv file on the hard drive UNLESS we deliberately save it over the existing one

In [45]:
spotify.iloc[:, 0]

0                                     Hey, Soul Sister
1                                 Love The Way You Lie
2                                              TiK ToK
3                                          Bad Romance
4                                 Just the Way You Are
                            ...
598                Find U Again (feat. Camila Cabello)
599      Cross Me (feat. Chance the Rapper & PnB Rock)
600                                                  2
601    Nothing Breaks Like a Heart (feat. Miley Cyrus)
602                                   Kills You Slowly
Name: title, Length: 603, dtype: object

In [38]:
my_list = [6,7,8,9,10]

In [39]:
my_list[1:3]

[7, 8]

In [46]:
my_var = spotify.iloc[:, 0]

# A pandas series is very similar to a list

With a few exceptions

In [48]:
print(type(my_var))

<class 'pandas.core.series.Series'>

# Summaries of the dataframe

In [52]:
#info method()
spotify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      603 non-null    object
 1   artist     603 non-null    object
 2   top genre  603 non-null    object
 3   year       603 non-null    int64
 4   bpm        603 non-null    int64
 5   nrgy       603 non-null    int64
 6   dnce       603 non-null    int64
 7   dB         603 non-null    int64
 8   live       603 non-null    int64
 9   val        603 non-null    int64
 10  dur        603 non-null    int64
 11  acous      603 non-null    int64
 12  spch       603 non-null    int64
 13  pop        603 non-null    int64
dtypes: int64(11), object(3)
memory usage: 66.1+ KB

In [50]:
# get the columns attribute of the dataframe class
spotify.columns

Index(['title', 'artist', 'top genre', 'year', 'bpm', 'nrgy', 'dnce', 'dB',
       'live', 'val', 'dur', 'acous', 'spch', 'pop'],
      dtype='object')

In [53]:
# describe method()
spotify.describe()

,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
count,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000
mean,2014.592040,118.545605,70.504146,64.379768,-5.578773,17.774461,52.225539,224.674959,14.326700,8.358209,66.520730
std,2.607057,24.795358,16.310664,13.378718,2.798020,13.102543,22.513020,34.130059,20.766165,7.483162,14.517746
min,2010.000000,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,134.000000,0.000000,0.000000,0.000000
25%,2013.000000,100.000000,61.000000,57.000000,-6.000000,9.000000,35.000000,202.000000,2.000000,4.000000,60.000000
50%,2015.000000,120.000000,74.000000,66.000000,-5.000000,12.000000,52.000000,221.000000,6.000000,5.000000,69.000000
75%,2017.000000,129.000000,82.000000,73.000000,-4.000000,24.000000,69.000000,239.500000,17.000000,9.000000,76.000000
max,2019.000000,206.000000,98.000000,97.000000,-2.000000,74.000000,98.000000,424.000000,99.000000,48.000000,99.000000