In [1]:
import pandas as pd

In [2]:
spotify = pd.read_csv('../../datasets/spotify_top_tens.csv')

In [7]:
type(spotify)

pandas.core.frame.DataFrame

In [5]:
spotify.head()

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

# Demo 1 - Get DataFrame by title, artist, top genre

In [9]:
spotify.iloc[0,1]

'Train'

In [10]:
spotify['title']

0                                       Hey, Soul Sister
1                                   Love The Way You Lie
2                                                TiK ToK
3                                            Bad Romance
4                                   Just the Way You Are
                             ...
598                  Find U Again (feat. Camila Cabello)
599        Cross Me (feat. Chance the Rapper & PnB Rock)
600    No Brainer (feat. Justin Bieber, Chance the Ra...
601      Nothing Breaks Like a Heart (feat. Miley Cyrus)
602                                     Kills You Slowly
Name: title, Length: 603, dtype: object

In [15]:
df = spotify[['title','artist','top genre']]

In [16]:
df.head()

                  title      artist        top genre
0      Hey, Soul Sister       Train       neo mellow
1  Love The Way You Lie      Eminem  detroit hip hop
2               TiK ToK       Kesha        dance pop
3           Bad Romance   Lady Gaga        dance pop
4  Just the Way You Are  Bruno Mars              pop

# Demo 2 - Sort values in a DataFrame by artist

In [21]:
sorted_df = df.sort_values('artist')

In [23]:
sorted_df.head(15)

                                title               artist       top genre
31        My First Kiss - feat. Ke$ha                3OH!3       dance pop
229              She Looks So Perfect  5 Seconds of Summer        boy band
249                     Say Something    A Great Big World      neo mellow
21               Whataya Want from Me         Adam Lambert  australian pop
37                       If I Had You         Adam Lambert  australian pop
52                   Someone Like You                Adele    british soul
112              Set Fire to the Rain                Adele    british soul
295                             Hello                Adele    british soul
55                Rolling in the Deep                Adele    british soul
504            Water Under the Bridge                Adele    british soul
398                         All I Ask                Adele    british soul
420                When We Were Young                Adele    british soul
417  Send My Love (To Your New Lover)                Adele    british soul
442                 Million Years Ago                Adele    british soul
473                         All I Ask                Adele    british soul